/* Accordion button */
.accordion-button {
    padding: 1rem 0.75rem;
    font-size: 1.75rem;
    font-weight: bold;
    background-color: #f5f5ff;
    border-bottom: 1px solid #ccf;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
/* Accordion button hover */
.accordion-button:hover {
    border-color: #a0a0ef;
}
/* Otvorený accordion */
.accordion-active {
    margin-bottom: 0.5rem;
    background-color: #f5f5ff;
    border-color: #a0a0ef;
}
/* Obsah */
.accordion-content {
    display: none;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccf;
    transition: all 200ms ease-in-out;
}