/* Desktopové zobrazenie, zmeny velkostí + zobrazovanie/skrývanie */
@media (min-width: 768px) {
    /* Text a obrázok hl. stránky vedľa seba */
    .container {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 3rem calc((100vw - 2000px) / 2);
        height: 95vh;
    }
    .distro-img {
        width: 610px;
    }
    .entry, .message {
        width: 500px;
    }
}