/* Form box */
.form-box {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0 4rem;
    width: 750px;
    color: #444;
    background-color: #f5f5ff;
    border-radius: 1.5rem;
}
/* Form submit button */
.submit {
    margin: 0.25rem 0.125rem;
    padding: 1rem 3.5rem;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    background-color: #7070ef;
    color: #fff;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.submit:hover {
    background-color: #5a5aff;
}
/* Form Entry */
.entry {
    height: 1.5rem;
    font-size: 1rem;
    background-color: #f5f5ff;
    border: none;
    border-bottom: 1px solid #a0a0ef;
}
/* Form Message */
.message {
    padding: 0.2rem;
    height: 10rem;
    font-size: 1rem;
    font-family: inherit;
    resize: none;
    background-color: #f5f5ff;
    border: 1px solid #a0a0ef;
    border-radius: 0.5rem;
    transition: all 200ms ease-in-out;
}
.entry:focus {
    border-bottom: 1px solid #7070ef;
    outline: none;
}
.message:focus {
    background-color: #fff;
    outline: none;
}
.entry::placeholder, .message::placeholder {
    color: #33a;
}