/* Form */
.submit {
    margin: 0.25rem 0.125rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    text-decoration: none;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}
.submit:hover {
    background-color: #444;
}
.entry {
    height: 1.5rem;
    font-size: 1rem;
}
.message {
    height: 10rem;
    font-size: 1rem;
    resize: none;
}
.loginbox {
    margin-left: 25%;
    width: 50%; 
    border: 1px solid #bbb; 
}