/* Mobilné zobrazenie, zmeny velkostí + zobrazovanie/skrývanie */
@media (max-width: 767px) {
    /* Text a obrázok hl. stránky pod sebou */
    .container {
        grid-template-columns: 1fr;
    }
    .column-left p {
        width: 100%;
    }
    .distro-img {
        width: 100%;
    }
    .entry, .message {
        width: 100%;
    }
    .gallery {
        width: 100%;
    }
    table {
        width: 100%;
    }
}