/* Mobilné zobrazenie, zmeny velkostí + zobrazovanie/skrývanie */
@media (max-width: 767px) {
    .dropdown {
        display: inline-block;
    }
    nav {
        flex-direction: column;
        text-align: center;
    }
    nav a {
    display: none;
    }
    /* Text a obrázok hl. stránky pod sebou */
    .container {
        grid-template-columns: 1fr;
    }
    .column-left p {
        width: 100%;
    }
    .distro-img {
        width: 100%;
    }
    .email {
        width: 100%;
    }
    .message {
        width: 100%;
    }
    /* Skryť obrázok navbaru */
    .tux-nav {
        display: none;
    }
    .gallery {
        width: 100%;
    }
    table {
        width: 100%;
    }
}