/* Work In Progress 
    - optimalizácia 
    - lepšia čitateľnosť
    - rozdelenie na menšie časti
    - zmena štýlu pre určitý obsah stránky
*/

body {
    margin: 0px;
    font-family: "liberation sans", "arial";
    font-size: 20px;
    line-height: 1.5;
    min-height: 100%;
}
/* hlavný obsah stránky - center */
main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    width: 80%;
}
/* päta */
footer {
    padding: 20px;
    left:0;
    right: 0;
    bottom: 0;
    font-size: 16px;
    text-align: center;
    background-color: #222;
    color: #fff;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #ddf;
}
/* tabuľka */
table, th, td {
    padding: 5px;
    width: 50%;
    border: 1px solid #aaa;
    border-collapse: collapse;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table a {
    color: #000;
}
table a:hover {
    color: #777;
}
.td_pravo {
    text-align:right;
}
/* navigácia */
.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    gap: 1%;
    background-color: #222;
    color: #fff;
    z-index: 1;
}
/* navigácia - link */
.navbar a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
}
.navbar a:hover {
    background-color: #333;
}
.navbar img {
    width: 32px;
}
/* center */
.cent {
    text-align: center;
}
/* text ďakujeme */
.dakujeme {
    margin-top: 4.17em;
    font-size: 96px;
    text-align: center;
}
/* text hl. stránky */
.stlpec_lavy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 1rem;
}
.stlpec_lavy h1 {
    margin-top: 15%;
    margin-bottom: 0rem;
    font-size: 3rem;
}
.stlpec_lavy p {
    width: 70%;
    font-size: 1.8rem;
    line-height: 1.5;
}
/* obrázok hl. stránky */
.stlpec_pravy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}
/* štýl pre linky v komunite */
.galeria {
    display: inline-flex;
    margin: 5px;
    width: 200px;
    border: 1px solid #aaa;
}
.galeria:hover {
    border: 1px solid #444;
}
/* div pre text linku */
.galeria_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: 100px;
}
.galeria img {
    width: 100%;
    height: auto;
}
.galeria a {
    color: #000;
    text-decoration: none;
}
.tux {
    width: 350px;
}
#odoslat {
    margin: 4px 2px;
    padding: 16px 32px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}
#email {
    width: 30%;
    font-size: 16px;
}
#poznamka {
    width: 30%;
    height: 100px;
    font-size: 16px;
    resize: none;
}
/* dropdown button */
.dropbtn {
    padding: 16px;
    border: none;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}
/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
/* dropdown obsah */
.dropdown-content {
    position: absolute;
    display: none;
    min-width: 100%;
    background-color: #222;
    z-index: 1;
}
/* dropdown link */
.dropdown-content a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff;
}
.dropdown-content a:hover {
    background-color: #333
}
/* ukázať obsah na hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #333;
}
.menu {
    cursor: pointer;
}
/* akordion pre distrá */
.accordion {
    padding: 24px 4px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    border: none;
    border: 1px solid #aaa;
    background-color: #fafaff;
    outline: none;
    cursor: pointer;
}
/* hover na accordion */
.accordion:hover {
    background-color: #f0f0ff;
    border-color: #000;
}
/* otvoreny accordion */
.active {
    background-color: #f0f0ff;
    border-color: #000;
}
/* panel */
.panel {
    display: none;
    margin-bottom: 10px;
    padding: 12px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #000;
}
/* slideshow kontajner */
.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 1000px;
}
/* predcházajuci, ďalší button */
.prev, .next {
    position: absolute;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    top: 50%;
    width: auto;
    color: #ccc;
    user-select: none;
    cursor: pointer;
}
/* premiestniť ďalší button vpravo */
.next {
    right: 0;
}
/* zmeniť farbu na hover */
.prev:hover, .next:hover {
    color: #000;
}
/* číslo obrázku */
.numbertext {
    position: absolute;
    font-size: 10px;
    bottom: 0;
    right: 0;
}
/* fade animácia */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* mobilné zobrazenie, zmeny velkostí + zobrazovanie/skrývanie */
@media (max-width: 767px) {
    .dropdown {
        display: inline-block;
    }
    nav {
        flex-direction: column;
        text-align: center;
    }
    nav a {
    display: none;
    }
    /* text a obrázok hl. stránky pod sebou */
    .kontajner {
        grid-template-columns: 1fr;
    }
    .stlpec_lavy p {
        width: 100%;
    }
    .distro_img {
        width: 100%;
    }
    #email {
        width: 100%;
    }
    #poznamka {
        width: 100%;
        height: 100px;
        resize: none;
    }
    /* skryť obrázok navbaru */
    #tux_nav {
        display: none;
    }
    .galeria {
        width: 100%;
    }
    table {
        width: 100%;
    }
}
/* PC */
@media (min-width: 768px) {
    /* skryť dropdown */
    .dropdown {
        display: none;
    }
    .distro_img {
        width: 50%;
    }
    /* text a obrázok hl. stránky vedľa seba */
    .kontajner {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 3rem calc((100vw - 2000px) / 2);
        height: 95vh;
    }
    #tux_nav_mobile {
        display: none;
    }
}